.Hero {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    position: relative;
    z-index: 1;
}