import :root



.active-tab {
    color: white;
    border-bottom: 2px solid whitesmoke;
    opacity: 100%;
}
.not-active {
    color: whitesmoke;
    opacity: 80%;
}

.not-active:hover {
    color: whitesmoke;
    text-shadow: 0 0 5px white;
    opacity: 100%;
}

.active-tab:hover {
    color:whitesmoke;
}

.navbar-toggler-icon {
    color: whitesmoke;
}
.NavContainer {
    color: whitesmoke;
    background-color: var(--secondary);
    font-size: x-large;
    padding: 10px;
    margin: 10px;
}

.NavBrand {
    font-size: xx-large;
    color: whitesmoke;
}

.NavBrand:hover {
    color: whitesmoke;
}

.navBar {
    margin: 10px;
    /* position: fixed; */
}
